#navbar {
  z-index: 1000; /* any number greater than the z-index of other elements */
}
#Stack::-webkit-scrollbar {
  display: none;
}

#Stack {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

canvas {
  display: block;
}
